<fieldset class="error">
    <legend>Delete User Error</legend>
	<br>
	An error occured while trying to delete your user account.<br>
	As this error is not supposed to occur, this means that we have a problem on our end.<br>
	Please try deleting your account again.<br><br>
	Click <a href="/delete-user">this link</a> to retry deleting your account again<br>
	<br>
</fieldset>
