<form action="/delete-user-reply" method="post">
  <fieldset id="delete-user" class="delete">
    <legend><span style="font-size: larger; font-weight: bold;">Supprimer un utilisateur</span></legend>

    <label for="user_name"><span>Supprimer l'utilisateur : {{username}}<br/></span></label>
    <br/>

    <button type="submit">Confirmer</button>
  </fieldset>
</form>
