<fieldset class="error">
    <legend>Sign Up Error</legend>
	<br>
	An error occured while trying to sign you up.<br>
	Check whether your password and password confirmation are the same and if your username is not already taken.<br><br>
	Click <a href="/register">this link</a> to retry signing up.<br>
	<br>
</fieldset>
