<form action="/register-reply" method="post">
  <fieldset class="register">
    <legend>Sign Up</legend>

    <label for="username">Username:</label>
    <br/>
    <input type="text" id="username" name="username" required>
    <br/><br/>
    <label for="email">Adresse email:</label>
    <br/>
    <input type="email" id="email" name="email" required>
    <br/><br/>
    <label for="password">Mot de passe:</label>
    <br/>
    <input type="password" id="password" name="password" required>
    <br/><br/>
    <label for="confirm_password">Confirmer le mot de passe:</label>
    <br/>
    <input type="password" id="confirm_password" name="confirm_password" required>
    <br/><br/>
    <button type="submit">S'inscrire</button>
  </fieldset>
</form>
