<form action="/add-user-in-group-reply" method="post">
  <fieldset class="group">
    <legend><span style="font-size: larger; font-weight: bold;">Ajouter un participant</span></legend>

    <label for="group_name"><span>Nom du groupe :</span></label>
    <br/>
    <input type="text" id="group_name" name="group_name" required>
    <br/><br/>
    <label for="participants">Ajouter des participants :</label>
    <br/>
    <input type="text" id="participants" name="participants">
    <br><span style="opacity: 0.65; font-style: italic;">Ajouter les noms des participants, séparés par des ";" (point virgule)</span>
    <br/><br/>
    <button type="submit">Ajouter des participants</button>
  </fieldset>
</form>
