<fieldset class="error">
    <legend>Add User In Group Error</legend>
	<br>
	An error occured while trying to add users to your group.<br>
	Verify the name of the group and make sure that you are the owner of said group.<br><br>
	Click <a href="/add-user-in-group">this link</a> to retry creating a group.<br>
	<br>
</fieldset>
