<form action="/create-group-reply" method="post">
  <fieldset id="create-group" class="group">
    <legend><span style="font-size: larger; font-weight: bold;">Créer un groupe</span></legend>

    <label for="group_name"><span>Nom du groupe :</span></label>
    <br/>
    <input type="text" id="group_name" name="group_name" required>
    <br/><br/>
    <button type="submit">Créer le groupe</button>
  </fieldset>
</form>
