<fieldset class="error">
    <legend>Create Group Error</legend>
	<br>
	An error occured while trying to create your group.<br>
	This is probably due to the group already been created or its name already taken by someone else.<br><br>
	Click <a href="/create-group">this link</a> to retry creating a group.<br>
	<br>
</fieldset>
