<fieldset class="error">
    <legend>Delete Group Error</legend>
	<br>
	An error occured while trying to delete the group.<br>
	Check whether the group actually exists and that you are the group's owner.<br><br>
	Click <a href="/delete-group">this link</a> to retry deleting a group.<br>
	<br>
</fieldset>
