<form action="/delete-group-reply" method="post">
  <fieldset id="show-group" class="delete">
    <legend><span style="font-size: larger; font-weight: bold;">Voir un groupe</span></legend>

    <label><span>Groupes disponibles :<br/>{{group_names}}</span></label>
    <br/><br/>

    <label for="group_name"><span>Nom du groupe pour suppression :</span></label>
    <br/>
    <input type="text" id="group_name" name="group_name" required>
    <br/><br/>
    
    <button type="submit">Supprimer le groupe</button>
  </fieldset>
</form>
