<form action="/delete-user-in-group-reply" method="post">
  <fieldset class="delete">
    <legend><span style="font-size: larger; font-weight: bold;">Supprimer un participant</span></legend>

    <label for="group_name"><span>Nom du groupe :</span></label>
    <br/>
    <input type="text" id="group_name" name="group_name" required>
    <br/><br/>
    <label for="participants">Supprimer des participants :</label>
    <br/>
    <input type="text" id="participants" name="participants">
    <br><span style="opacity: 0.65; font-style: italic;">Ajoutez les noms des participants, séparés par des ";" (point virgule)</span>
    <br/><br/>
    <button type="submit">Supprimer des participants</button>
  </fieldset>
</form>
