<fieldset class="error">
    <legend>Show Group Error</legend>
	<br>
	An error occured while trying to show you the group.<br>
	Check whether the group actually exists and that you are the group's owner.<br><br>
	Click <a href="/show-group">this link</a> to retry viewing a group.<br>
	<br>
</fieldset>
