<fieldset class="group">
  <legend><span style="font-size: larger; font-weight: bold;">{{group.name}}</span></legend>
  
  <label><span>Created on {{creation_date}}</span></label>
  <br/><br/>
  
  <label><span>Utilisateurs dans le groupe :<br/>{{usernames}}</span></label>
  <br/>
</fieldset>
