<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remindr</title>
    <style>
	.login {
	    background: #f6f8ff;
	    border:	2px solid #4238ca;
	}

	.register {
	    background: #f6f8ff;
	    border:	2px solid #4238ca;
	}

	.error {
	    background: #fff6f8;
	    border:	2px solid #ca4238;
	}

	.delete {
	    background: #fff6f8;
	    border:	2px solid #ca4238;
	}

	.reminder {
	    background: #f8f8f0;
	    border:	2px solid #caca38;
	}

	.group {
		background: rgba(0, 128, 0, 0.171);
		border: 2px solid green;
	}

	#dashboard-links {
		background-color: rgba(0, 255, 255, 0.116);
		margin: 15px 5px 5px 5px;
		padding: 10px;
		border-radius: 7px;
		border: 2px solid rgb(0, 255, 255);
	}
	header{
		background-color: rgb(209, 209, 209);
		display:flex;
	}

	#page-title{
		font-size: 16pt;
		font-family: consolas;
		padding: 13px;
		color: rgb(0, 0, 0);
		font-weight: 900;
		width: 100%;
		min-width: fit-content;
	}

	#home-link{
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.164);
		font-size: 14pt;
		font-family: consolas;
		font-weight: bold;
		color: rgb(59, 59, 59);
		text-decoration: none;
	}

	#home-link:hover{
		background-color: rgba(0, 0, 0, 0.274);
	}

	#dashboard-title{
		font-size: 14pt;
		font-family: consolas;
		padding: 13px;
		color: rgb(0, 0, 0);
		font-weight: 900;
		width: 100%;
		min-width: fit-content;
	}

    	#dashboard{
		background-color: rgb(209, 209, 209);
		display:flex;
		margin: 20px 3px 0 3px;
	}

	.dashboard-link{
		min-width: fit-content;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.164);
		font-size: 12pt;
		font-family: consolas;
		font-weight: bold;
		color: rgb(59, 59, 59);
		text-decoration: none;
	}

	.dashboard-link:hover{
		background-color: rgba(0, 0, 0, 0.274);
	}

    </style>
</head>
<body>

	<header>
		<div id="page-title">
			Remindr
		</div>
		<a href="/dashboard" id="home-link">
			<div>
				Home
			</div>
		</a>
	</header>


    {{{body}}}

</body>

</html>
