<div id="dashboard">

<a href="/login" class="dashboard-link"> <div>Login</div> </a>
<a href="/register" class="dashboard-link"> <div>Register</div> </a>
<a href="/delete-user" class="dashboard-link"> <div>Delete Account</div> </a>


<div id="dashboard-title"> </div>

<a href="/create-group" class="dashboard-link"> <div>Create Group</div> </a>
<a href="/show-group" class="dashboard-link"> <div>Show Group</div> </a>
<a href="/delete-group" class="dashboard-link"> <div>Delete Group</div> </a>


<div id="dashboard-title"> </div>

<a href="/add-user-in-group" class="dashboard-link"> <div>Add User In Group</div> </a>
<a href="/delete-user-in-group" class="dashboard-link"> <div>Delete User In Group</div> </a>


<div id="dashboard-title"> </div>


<a href="/create-reminder" class="dashboard-link"> <div>Create Reminder</div> </a>
<a href="/show-reminder" class="dashboard-link"> <div>Show Reminder</div> </a>
<a href="/delete-reminder" class="dashboard-link"> <div>Delete Reminder</div> </a>

</div>
