<fieldset class="error">
    <legend>Log In Error</legend>
	<br>
	An error occured while trying to log you in.<br>
	Check whether your password and username are correct.<br><br>
	Click <a href="/login">this link</a> to retry logging in.<br>
	<br>
</fieldset>
