<form action="/login-reply" method="post">
  <fieldset class="login">
    <legend>Log In</legend>
    <label for="username">Username:</label>
    <br/>
    <input type="text" id="username" name="username" required>
    <br/><br/>
    <label for="password">Mot de passe:</label>
    <br/>
    <input type="password" id="password" name="password" required>
    <br/><br/>
    <button type="submit">Se connecter</button>
  </fieldset>
</form>
