<style>
    //body {
        background-color: white;
        color: black;
    }

    .reminder {
        border-radius: 20px;
        margin-top: 20px;
    }

    .reminder_title {
        border-bottom: 2px solid #ff0000;
        padding: 10px 15px;
    }

    .reminder_name {
        font-size: 13pt;
        font-weight: 600;
        margin-bottom: 5pt;
    }

    #reminder_name{
        margin-bottom: 3px;
    }

    #group-name{
        margin-top: 3px;
        margin-bottom: 7px;
    }

    .reminder_time {
        font-size: 11.5pt;
    }

    .reminder_group {
        padding: 5pt;
        border-radius: 0 0 15px 0;
        font-size: larger;
        width: fit-content;
        padding-right: 15px;
        padding-left: 15px;
    }

    .reminder_desc {
        padding: 7px 13px 10px 10px;
    }

    #reminder_desc{
        margin-top: 5px;
        background-color: #75757534;
        border: 1px solid rgba(121, 121, 121, 0.219);
        width: calc(100% - 11px);
        max-width: calc(100% - 11px);
        margin-left: 5px;
    }

    #submit{
    }

    #subdiv{
        width: fit-content;
        margin: 20px auto;
    }
</style>

<br/>
{{!-- Il faut mettre reminder_color au format <#c3c3c3>, l'opacité est gérée avec le 0c qui suit --}}
<form action="create-reminder-reply" method="post">
    <div class="reminder" style="background-color: {{reminder_color}}0c; border: 2px solid {{reminder_color}}">
        <div class="reminder_title" style="border-bottom: 2px solid {{reminder_color}};">
            <div class="reminder_name">
                Nom du Reminder :<br/>
                <input type="text" id="reminder_name" name="reminder_name">
            </div>
	    <br/>
            <div class="reminder_time">
                Date du Reminder :<br/>
                <input type="datetime-local" name="moment" id="moment">
            </div>
	    <br/>
            <div class="reminder_color">
                Couleur :<br/>
                <input type="text" id="reminder_color" name="reminder_color" placeholder="#000000">
            </div>
        </div>
        <div class="reminder_body">
            <div class="reminder_group" style="border-right: 2px solid {{reminder_color}}; border-bottom: 2px solid {{reminder_color}}; background-color: {{reminder_color}}3a;
">
                Choisir le groupe :<br/>
                <input type="text" id="group_name" name="group_name">
            </div>

            <div class="reminder_desc">
                Entrez la description du Reminder :<br/>
                <textarea name="reminder_desc" id="reminder_desc" cols="75" rows="10"></textarea>
            </div>
        </div>
        <div id="subdiv">        
            <input type="submit" value="Créer le Reminder" id="submit">
        </div>   
    </div>
</form>
