<fieldset class="error">
    <legend>Create Reminder Error</legend>
	<br>
	An error occured while trying to create your reminder.<br>
	Check whether the reminder doesn't already exists.<br><br>
	Click <a href="/create-reminder">this link</a> to retry creating a reminder.<br>
	<br>
</fieldset>
