<form action="/delete-reminder-reply" method="post">
  <fieldset id="delete-reminder" class="delete">
    <legend><span style="font-size: larger; font-weight: bold;">Supprimer un reminder</span></legend>

    <label><span>Rappels disponibles :<br/>{{reminder_names}}</span></label>
    <br/><br/>

    <label for="reminder_name"><span>Nom du rappel pour suppression :</span></label>
    <br/>
    <input type="text" id="reminder_name" name="reminder_name" required>
    <br/><br/>
    
    <button type="submit">Supprimer le rappel</button>
  </fieldset>
</form>
