<fieldset class="error">
    <legend>Delete Reminder Error</legend>
	<br>
	An error occured while trying to delete the reminder.<br>
	Check whether the reminder actually exists and that you are the reminder's creator.<br><br>
	Click <a href="/delete-reminder">this link</a> to retry deleting a reminder.<br>
	<br>
</fieldset>
