<fieldset class="error">
    <legend>Show Reminder Error</legend>
	<br>
	An error occured while trying to show you the reminder.<br>
	Check whether the reminder actually exists and that you are the reminder's creator.<br><br>
	Click <a href="/show-reminder">this link</a> to retry viewing a reminder.<br>
	<br>
</fieldset>
