<style>
    body {
        background-color: white;
        color: black;
    }

    .reminder {
        border-radius: 20px;
        margin-top: 20px;
    }

    .reminder-title {
        border-bottom: 2px solid #ff0000;
        padding: 10px 15px;
    }

    .reminder-name {
        font-size: 15pt;
        font-weight: 600;
        margin-bottom: 5pt;
    }

    .reminder-time {
        font-size: 11.5pt;
    }

    .reminder-group {
        padding: 5pt;
        border-radius: 0 0 15px 0;
        font-size: larger;
        width: fit-content;
        padding-right: 15px;
    }

    .reminder-desc {
        padding: 7px 13px 10px 10px;
    }
</style>

{{!-- Il faut mettre reminder_color au format <#c3c3c3>, l'opacité est gérée avec le 0c qui suit --}}
    <div class="reminder" style="background-color: {{reminder_color}}0c; border: 2px solid {{reminder_color}}">
        <div class="reminder-title" style="border-bottom: 2px solid {{reminder_color}};">
            <div class="reminder-name">
                {{reminder_name}}
            </div>
            <div class="reminder-time">
                {{reminder_due_date}}
            </div>
        </div>
        <div class="reminder-body">
            <div class="reminder-group" style="border-right: 2px solid {{reminder_color}}; border-bottom: 2px solid {{reminder_color}}; background-color: {{reminder_color}}3a;
">
                Groupe : {{group_name}}
            </div>
            <div class="reminder-desc">
	    	{{reminder_description}}
	    </div>
        </div>
    </div>
