<form action="/show-reminder-reply" method="post">
  <fieldset id="show-reminder" class="reminder">
    <legend><span style="font-size: larger; font-weight: bold;">Voir un reminder</span></legend>

    <label><span>Rappels disponibles :<br/>{{reminder_names}}</span></label>
    <br/><br/>

    <label for="reminder_name"><span>Nom du rappel pour visionage :</span></label>
    <br/>
    <input type="text" id="reminder_name" name="reminder_name" required>
    <br/><br/>
    
    <button type="submit">Voir le rappel</button>
  </fieldset>
</form>
